{
  "swagger": "2.0",
  "info": {
    "title": "gateway.marvel.com",
    "version": "Cable"
  },
  "host": "gateway.marvel.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/v1/public/characters": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return only characters matching the specified full character name (e.g. Spider-Man).",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return characters with names that begin with the specified string (e.g. Sp).",
            "in": "query",
            "name": "nameStartsWith",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only characters which have been modified since the specified date.",
            "format": "date",
            "in": "query",
            "name": "modifiedSince",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only characters which appear in the specified comics (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "comics",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only characters which appear the specified series (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "series",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only characters which appear in the specified events (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "events",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only characters which appear the specified stories (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "stories",
            "required": false,
            "type": "array"
          },
          {
            "description": "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "orderBy",
            "required": false,
            "type": "array"
          },
          {
            "description": "Limit the result set to the specified number of resources.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Skip the specified number of resources in the result set.",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CharacterDataWrapper"
            }
          }
        },
        "description": "Fetches lists of comic characters with optional filters. See notes on individual parameters below.",
        "operationId": "getCharactersCollection",
        "summary": "Fetches lists of characters."
      }
    },
    "/v1/public/characters/{characterId}": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "A single character id.",
            "format": "int32",
            "in": "path",
            "name": "characterId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CharacterDataWrapper"
            }
          }
        },
        "description": "This method fetches a single character resource.  It is the canonical URI for any character resource provided by the API.",
        "operationId": "getCharacterIndividual",
        "summary": "Fetches a single character by id."
      }
    },
    "/v1/public/characters/{characterId}/comics": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "The character id.",
            "format": "int32",
            "in": "path",
            "name": "characterId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Filter by the issue format (e.g. comic, digital comic, hardcover).",
            "in": "query",
            "name": "format",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by the issue format type (comic or collection).",
            "in": "query",
            "name": "formatType",
            "required": false,
            "type": "string"
          },
          {
            "description": "Exclude variant comics from the result set.",
            "in": "query",
            "name": "noVariants",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Return comics within a predefined date range.",
            "in": "query",
            "name": "dateDescriptor",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return comics within a predefined date range.  Dates must be specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "dateRange",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only issues in series whose title matches the input.",
            "in": "query",
            "name": "title",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only issues in series whose title starts with the input.",
            "in": "query",
            "name": "titleStartsWith",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only issues in series whose start year matches the input.",
            "format": "int32",
            "in": "query",
            "name": "startYear",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Return only issues in series whose issue number matches the input.",
            "format": "int32",
            "in": "query",
            "name": "issueNumber",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Filter by diamond code.",
            "in": "query",
            "name": "diamondCode",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by digital comic id.",
            "format": "int32",
            "in": "query",
            "name": "digitalId",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Filter by UPC.",
            "in": "query",
            "name": "upc",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by ISBN.",
            "in": "query",
            "name": "isbn",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by EAN.",
            "in": "query",
            "name": "ean",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by ISSN.",
            "in": "query",
            "name": "issn",
            "required": false,
            "type": "string"
          },
          {
            "description": "Include only results which are available digitally.",
            "in": "query",
            "name": "hasDigitalIssue",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Return only comics which have been modified since the specified date.",
            "format": "date",
            "in": "query",
            "name": "modifiedSince",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only comics which feature work by the specified creators (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "creators",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only comics which are part of the specified series (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "series",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only comics which take place in the specified events (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "events",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only comics which contain the specified stories (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "stories",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "sharedAppearances",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "collaborators",
            "required": false,
            "type": "array"
          },
          {
            "description": "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "orderBy",
            "required": false,
            "type": "array"
          },
          {
            "description": "Limit the result set to the specified number of resources.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Skip the specified number of resources in the result set.",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ComicDataWrapper"
            }
          }
        },
        "description": "Fetches lists of comics containing a specific character, with optional filters. See notes on individual parameters below.",
        "operationId": "getComicsCharacterCollection",
        "summary": "Fetches lists of comics filtered by a character id."
      }
    },
    "/v1/public/characters/{characterId}/events": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "The character ID.",
            "format": "int32",
            "in": "path",
            "name": "characterId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Filter the event list by name.",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return events with names that begin with the specified string (e.g. Sp).",
            "in": "query",
            "name": "nameStartsWith",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only events which have been modified since the specified date.",
            "format": "date",
            "in": "query",
            "name": "modifiedSince",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only events which feature work by the specified creators (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "creators",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only events which are part of the specified series (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "series",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only events which take place in the specified comics (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "comics",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only events which contain the specified stories (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "stories",
            "required": false,
            "type": "array"
          },
          {
            "description": "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "orderBy",
            "required": false,
            "type": "array"
          },
          {
            "description": "Limit the result set to the specified number of resources.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Skip the specified number of resources in the result set.",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/EventDataWrapper"
            }
          }
        },
        "description": "Fetches lists of events in which a specific character appears, with optional filters. See notes on individual parameters below.",
        "operationId": "getCharacterEventsCollection",
        "summary": "Fetches lists of events filtered by a character id."
      }
    },
    "/v1/public/characters/{characterId}/series": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "The character ID",
            "format": "int32",
            "in": "path",
            "name": "characterId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Filter by series title.",
            "in": "query",
            "name": "title",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return series with titles that begin with the specified string (e.g. Sp).",
            "in": "query",
            "name": "titleStartsWith",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only series matching the specified start year.",
            "format": "int32",
            "in": "query",
            "name": "startYear",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Return only series which have been modified since the specified date.",
            "format": "date",
            "in": "query",
            "name": "modifiedSince",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only series which contain the specified comics (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "comics",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only series which contain the specified stories (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "stories",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only series which have comics that take place during the specified events (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "events",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only series which feature work by the specified creators (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "creators",
            "required": false,
            "type": "array"
          },
          {
            "description": "Filter the series by publication frequency type.",
            "in": "query",
            "name": "seriesType",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only series containing one or more comics with the specified format.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "contains",
            "required": false,
            "type": "array"
          },
          {
            "description": "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "orderBy",
            "required": false,
            "type": "array"
          },
          {
            "description": "Limit the result set to the specified number of resources.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Skip the specified number of resources in the result set.",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/SeriesDataWrapper"
            }
          }
        },
        "description": "Fetches lists of comic series in which a specific character appears, with optional filters. See notes on individual parameters below.",
        "operationId": "getCharacterSeriesCollection",
        "summary": "Fetches lists of series filtered by a character id."
      }
    },
    "/v1/public/characters/{characterId}/stories": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "The character ID.",
            "format": "int32",
            "in": "path",
            "name": "characterId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Return only stories which have been modified since the specified date.",
            "format": "date",
            "in": "query",
            "name": "modifiedSince",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only stories contained in the specified (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "comics",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only stories contained the specified series (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "series",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only stories which take place during the specified events (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "events",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only stories which feature work by the specified creators (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "creators",
            "required": false,
            "type": "array"
          },
          {
            "description": "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "orderBy",
            "required": false,
            "type": "array"
          },
          {
            "description": "Limit the result set to the specified number of resources.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Skip the specified number of resources in the result set.",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/StoryDataWrapper"
            }
          }
        },
        "description": "Fetches lists of comic stories  featuring a specific character with optional filters. See notes on individual parameters below.",
        "operationId": "getCharacterStoryCollection",
        "summary": "Fetches lists of stories filtered by a character id."
      }
    },
    "/v1/public/comics": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "Filter by the issue format (e.g. comic, digital comic, hardcover).",
            "in": "query",
            "name": "format",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by the issue format type (comic or collection).",
            "in": "query",
            "name": "formatType",
            "required": false,
            "type": "string"
          },
          {
            "description": "Exclude variants (alternate covers, secondary printings, director's cuts, etc.) from the result set.",
            "in": "query",
            "name": "noVariants",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Return comics within a predefined date range.",
            "in": "query",
            "name": "dateDescriptor",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return comics within a predefined date range.  Dates must be specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "dateRange",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only issues in series whose title matches the input.",
            "in": "query",
            "name": "title",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only issues in series whose title starts with the input.",
            "in": "query",
            "name": "titleStartsWith",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only issues in series whose start year matches the input.",
            "format": "int32",
            "in": "query",
            "name": "startYear",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Return only issues in series whose issue number matches the input.",
            "format": "int32",
            "in": "query",
            "name": "issueNumber",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Filter by diamond code.",
            "in": "query",
            "name": "diamondCode",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by digital comic id.",
            "format": "int32",
            "in": "query",
            "name": "digitalId",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Filter by UPC.",
            "in": "query",
            "name": "upc",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by ISBN.",
            "in": "query",
            "name": "isbn",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by EAN.",
            "in": "query",
            "name": "ean",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by ISSN.",
            "in": "query",
            "name": "issn",
            "required": false,
            "type": "string"
          },
          {
            "description": "Include only results which are available digitally.",
            "in": "query",
            "name": "hasDigitalIssue",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Return only comics which have been modified since the specified date.",
            "format": "date",
            "in": "query",
            "name": "modifiedSince",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only comics which feature work by the specified creators (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "creators",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only comics which feature the specified characters (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "characters",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only comics which are part of the specified series (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "series",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only comics which take place in the specified events (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "events",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only comics which contain the specified stories (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "stories",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear). Accepts a comma-separated list of ids.",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "sharedAppearances",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work). Accepts a comma-separated list of ids.",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "collaborators",
            "required": false,
            "type": "array"
          },
          {
            "description": "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "orderBy",
            "required": false,
            "type": "array"
          },
          {
            "description": "Limit the result set to the specified number of resources.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Skip the specified number of resources in the result set.",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ComicDataWrapper"
            }
          }
        },
        "description": "Fetches lists of comics with optional filters. See notes on individual parameters below.",
        "operationId": "getComicsCollection",
        "summary": "Fetches lists of comics."
      }
    },
    "/v1/public/comics/{comicId}": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "A single comic.",
            "format": "int32",
            "in": "path",
            "name": "comicId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ComicDataWrapper"
            }
          }
        },
        "description": "This method fetches a single comic resource.  It is the canonical URI for any comic resource provided by the API.",
        "operationId": "getComicIndividual",
        "summary": "Fetches a single comic by id."
      }
    },
    "/v1/public/comics/{comicId}/characters": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "The comic id.",
            "format": "int32",
            "in": "path",
            "name": "comicId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Return only characters matching the specified full character name (e.g. Spider-Man).",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return characters with names that begin with the specified string (e.g. Sp).",
            "in": "query",
            "name": "nameStartsWith",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only characters which have been modified since the specified date.",
            "format": "date",
            "in": "query",
            "name": "modifiedSince",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only characters which appear the specified series (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "series",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only characters which appear comics that took place in the specified events (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "events",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only characters which appear the specified stories (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "stories",
            "required": false,
            "type": "array"
          },
          {
            "description": "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "orderBy",
            "required": false,
            "type": "array"
          },
          {
            "description": "Limit the result set to the specified number of resources.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Skip the specified number of resources in the result set.",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CharacterDataWrapper"
            }
          }
        },
        "description": "Fetches lists of characters which appear in a specific comic with optional filters. See notes on individual parameters below.",
        "operationId": "getComicCharacterCollection",
        "summary": "Fetches lists of characters filtered by a comic id."
      }
    },
    "/v1/public/comics/{comicId}/creators": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "The comic id.",
            "format": "int32",
            "in": "path",
            "name": "comicId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Filter by creator first name (e.g. brian).",
            "in": "query",
            "name": "firstName",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by creator middle name (e.g. Michael).",
            "in": "query",
            "name": "middleName",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by creator last name (e.g. Bendis).",
            "in": "query",
            "name": "lastName",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by suffix or honorific (e.g. Jr., Sr.).",
            "in": "query",
            "name": "suffix",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by creator names that match critera (e.g. B, St L).",
            "in": "query",
            "name": "nameStartsWith",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by creator first names that match critera (e.g. B, St L).",
            "in": "query",
            "name": "firstNameStartsWith",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by creator middle names that match critera (e.g. Mi).",
            "in": "query",
            "name": "middleNameStartsWith",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by creator last names that match critera (e.g. Ben).",
            "in": "query",
            "name": "lastNameStartsWith",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only creators which have been modified since the specified date.",
            "format": "date",
            "in": "query",
            "name": "modifiedSince",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only creators who worked on in the specified comics (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "comics",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only creators who worked on the specified series (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "series",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only creators who worked on the specified stories (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "stories",
            "required": false,
            "type": "array"
          },
          {
            "description": "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "orderBy",
            "required": false,
            "type": "array"
          },
          {
            "description": "Limit the result set to the specified number of resources.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Skip the specified number of resources in the result set.",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CreatorDataWrapper"
            }
          }
        },
        "description": "Fetches lists of comic creators whose work appears in a specific comic, with optional filters. See notes on individual parameters below.",
        "operationId": "getCreatorCollectionByComicId",
        "summary": "Fetches lists of creators filtered by a comic id."
      }
    },
    "/v1/public/comics/{comicId}/events": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "The comic ID.",
            "format": "int32",
            "in": "path",
            "name": "comicId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Filter the event list by name.",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return events with names that begin with the specified string (e.g. Sp).",
            "in": "query",
            "name": "nameStartsWith",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only events which have been modified since the specified date.",
            "format": "date",
            "in": "query",
            "name": "modifiedSince",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only events which feature work by the specified creators (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "creators",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only events which feature the specified characters (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "characters",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only events which are part of the specified series (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "series",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only events which contain the specified stories (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "stories",
            "required": false,
            "type": "array"
          },
          {
            "description": "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "orderBy",
            "required": false,
            "type": "array"
          },
          {
            "description": "Limit the result set to the specified number of resources.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Skip the specified number of resources in the result set.",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/EventDataWrapper"
            }
          }
        },
        "description": "Fetches lists of events in which a specific comic appears, with optional filters. See notes on individual parameters below.",
        "operationId": "getIssueEventsCollection",
        "summary": "Fetches lists of events filtered by a comic id."
      }
    },
    "/v1/public/comics/{comicId}/stories": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "The comic ID.",
            "format": "int32",
            "in": "path",
            "name": "comicId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Return only stories which have been modified since the specified date.",
            "format": "date",
            "in": "query",
            "name": "modifiedSince",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only stories contained the specified series (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "series",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only stories which take place during the specified events (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "events",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only stories which feature work by the specified creators (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "creators",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only stories which feature the specified characters (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "characters",
            "required": false,
            "type": "array"
          },
          {
            "description": "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "orderBy",
            "required": false,
            "type": "array"
          },
          {
            "description": "Limit the result set to the specified number of resources.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Skip the specified number of resources.",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/StoryDataWrapper"
            }
          }
        },
        "description": "Fetches lists of comic stories in a specific comic issue, with optional filters. See notes on individual parameters below.",
        "operationId": "getComicStoryCollection",
        "summary": "Fetches lists of stories filtered by a comic id."
      }
    },
    "/v1/public/creators": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "Filter by creator first name (e.g. Brian).",
            "in": "query",
            "name": "firstName",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by creator middle name (e.g. Michael).",
            "in": "query",
            "name": "middleName",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by creator last name (e.g. Bendis).",
            "in": "query",
            "name": "lastName",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by suffix or honorific (e.g. Jr., Sr.).",
            "in": "query",
            "name": "suffix",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by creator names that match critera (e.g. B, St L).",
            "in": "query",
            "name": "nameStartsWith",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by creator first names that match critera (e.g. B, St L).",
            "in": "query",
            "name": "firstNameStartsWith",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by creator middle names that match critera (e.g. Mi).",
            "in": "query",
            "name": "middleNameStartsWith",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by creator last names that match critera (e.g. Ben).",
            "in": "query",
            "name": "lastNameStartsWith",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only creators which have been modified since the specified date.",
            "format": "date",
            "in": "query",
            "name": "modifiedSince",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only creators who worked on in the specified comics (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "comics",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only creators who worked on the specified series (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "series",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only creators who worked on comics that took place in the specified events (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "events",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only creators who worked on the specified stories (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "stories",
            "required": false,
            "type": "array"
          },
          {
            "description": "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "orderBy",
            "required": false,
            "type": "array"
          },
          {
            "description": "Limit the result set to the specified number of resources.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Skip the specified number of resources in the result set.",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CreatorDataWrapper"
            }
          }
        },
        "description": "Fetches lists of comic creators with optional filters. See notes on individual parameters below.",
        "operationId": "getCreatorCollection",
        "summary": "Fetches lists of creators."
      }
    },
    "/v1/public/creators/{creatorId}": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "A single creator id.",
            "format": "int32",
            "in": "path",
            "name": "creatorId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CreatorDataWrapper"
            }
          }
        },
        "description": "This method fetches a single creator resource.  It is the canonical URI for any creator resource provided by the API.",
        "operationId": "getCreatorIndividual",
        "summary": "Fetches a single creator by id."
      }
    },
    "/v1/public/creators/{creatorId}/comics": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "The creator ID.",
            "format": "int32",
            "in": "path",
            "name": "creatorId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Filter by the issue format (e.g. comic, digital comic, hardcover).",
            "in": "query",
            "name": "format",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by the issue format type (comic or collection).",
            "in": "query",
            "name": "formatType",
            "required": false,
            "type": "string"
          },
          {
            "description": "Exclude variant comics from the result set.",
            "in": "query",
            "name": "noVariants",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Return comics within a predefined date range.",
            "in": "query",
            "name": "dateDescriptor",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return comics within a predefined date range.  Dates must be specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "dateRange",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only issues in series whose title matches the input.",
            "in": "query",
            "name": "title",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only issues in series whose title starts with the input.",
            "in": "query",
            "name": "titleStartsWith",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only issues in series whose start year matches the input.",
            "format": "int32",
            "in": "query",
            "name": "startYear",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Return only issues in series whose issue number matches the input.",
            "format": "int32",
            "in": "query",
            "name": "issueNumber",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Filter by diamond code.",
            "in": "query",
            "name": "diamondCode",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by digital comic id.",
            "format": "int32",
            "in": "query",
            "name": "digitalId",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Filter by UPC.",
            "in": "query",
            "name": "upc",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by ISBN.",
            "in": "query",
            "name": "isbn",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by EAN.",
            "in": "query",
            "name": "ean",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by ISSN.",
            "in": "query",
            "name": "issn",
            "required": false,
            "type": "string"
          },
          {
            "description": "Include only results which are available digitally.",
            "in": "query",
            "items": {
              "type": "boolean"
            },
            "name": "hasDigitalIssue",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only comics which have been modified since the specified date.",
            "format": "date",
            "in": "query",
            "name": "modifiedSince",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only comics which feature the specified characters (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "characters",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only comics which are part of the specified series (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "series",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only comics which take place in the specified events (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "events",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only comics which contain the specified stories (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "stories",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "sharedAppearances",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "collaborators",
            "required": false,
            "type": "array"
          },
          {
            "description": "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "orderBy",
            "required": false,
            "type": "array"
          },
          {
            "description": "Limit the result set to the specified number of resources.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Skip the specified number of resources in the result set.",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/ComicDataWrapper"
            }
          }
        },
        "description": "Fetches lists of comics in which the work of a specific creator appears, with optional filters. See notes on individual parameters below.",
        "operationId": "getComicsCollectionByCreatorId",
        "summary": "Fetches lists of comics filtered by a creator id."
      }
    },
    "/v1/public/creators/{creatorId}/events": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "The creator ID.",
            "format": "int32",
            "in": "path",
            "name": "creatorId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Filter the event list by name.",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return events with names that begin with the specified string (e.g. Sp).",
            "in": "query",
            "name": "nameStartsWith",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only events which have been modified since the specified date.",
            "format": "date",
            "in": "query",
            "name": "modifiedSince",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only events which feature the specified characters (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "characters",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only events which are part of the specified series (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "series",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only events which take place in the specified comics (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "comics",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only events which contain the specified stories (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "stories",
            "required": false,
            "type": "array"
          },
          {
            "description": "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "orderBy",
            "required": false,
            "type": "array"
          },
          {
            "description": "Limit the result set to the specified number of resources.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Skip the specified number of resources in the result set.",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/EventDataWrapper"
            }
          }
        },
        "description": "Fetches lists of events featuring the work of a specific creator with optional filters. See notes on individual parameters below.",
        "operationId": "getCreatorEventsCollection",
        "summary": "Fetches lists of events filtered by a creator id."
      }
    },
    "/v1/public/creators/{creatorId}/series": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "The creator ID.",
            "format": "int32",
            "in": "path",
            "name": "creatorId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Filter by series title.",
            "in": "query",
            "name": "title",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return series with titles that begin with the specified string (e.g. Sp).",
            "in": "query",
            "name": "titleStartsWith",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only series matching the specified start year.",
            "format": "int32",
            "in": "query",
            "name": "startYear",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Return only series which have been modified since the specified date.",
            "format": "date",
            "in": "query",
            "name": "modifiedSince",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only series which contain the specified comics (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "comics",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only series which contain the specified stories (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "stories",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only series which have comics that take place during the specified events (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "events",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only series which feature the specified characters (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "characters",
            "required": false,
            "type": "array"
          },
          {
            "description": "Filter the series by publication frequency type.",
            "in": "query",
            "name": "seriesType",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only series containing one or more comics with the specified format.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "contains",
            "required": false,
            "type": "array"
          },
          {
            "description": "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "orderBy",
            "required": false,
            "type": "array"
          },
          {
            "description": "Limit the result set to the specified number of resources.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Skip the specified number of resources in the result set.",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/SeriesDataWrapper"
            }
          }
        },
        "description": "Fetches lists of comic series in which a specific creator's work appears, with optional filters. See notes on individual parameters below.",
        "operationId": "getCreatorSeriesCollection",
        "summary": "Fetches lists of series filtered by a creator id."
      }
    },
    "/v1/public/creators/{creatorId}/stories": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID of the creator.",
            "format": "int32",
            "in": "path",
            "name": "creatorId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Return only stories which have been modified since the specified date.",
            "format": "date",
            "in": "query",
            "name": "modifiedSince",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only stories contained in the specified comics (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "comics",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only stories contained the specified series (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "series",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only stories which take place during the specified events (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "events",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only stories which feature the specified characters (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "characters",
            "required": false,
            "type": "array"
          },
          {
            "description": "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "orderBy",
            "required": false,
            "type": "array"
          },
          {
            "description": "Limit the result set to the specified number of resources.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Skip the specified number of resources in the result set.",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/StoryDataWrapper"
            }
          }
        },
        "description": "Fetches lists of comic stories by a specific creator with optional filters. See notes on individual parameters below.",
        "operationId": "getCreatorStoryCollection",
        "summary": "Fetches lists of stories filtered by a creator id."
      }
    },
    "/v1/public/events": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "Return only events which match the specified name.",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return events with names that begin with the specified string (e.g. Sp).",
            "in": "query",
            "name": "nameStartsWith",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only events which have been modified since the specified date.",
            "format": "date",
            "in": "query",
            "name": "modifiedSince",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only events which feature work by the specified creators (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "creators",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only events which feature the specified characters (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "characters",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only events which are part of the specified series (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "series",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only events which take place in the specified comics (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "comics",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only events which take place in the specified stories (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "stories",
            "required": false,
            "type": "array"
          },
          {
            "description": "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "orderBy",
            "required": false,
            "type": "array"
          },
          {
            "description": "Limit the result set to the specified number of resources.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Skip the specified number of resources in the result set.",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/EventDataWrapper"
            }
          }
        },
        "description": "Fetches lists of events with optional filters. See notes on individual parameters below.",
        "operationId": "getEventsCollection",
        "summary": "Fetches lists of events."
      }
    },
    "/v1/public/events/{eventId}": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "A single event.",
            "format": "int32",
            "in": "path",
            "name": "eventId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/EventDataWrapper"
            }
          }
        },
        "description": "This method fetches a single event resource.  It is the canonical URI for any event resource provided by the API.",
        "operationId": "getEventIndividual",
        "summary": "Fetches a single event by id."
      }
    },
    "/v1/public/events/{eventId}/characters": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "The event ID",
            "format": "int32",
            "in": "path",
            "name": "eventId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Return only characters matching the specified full character name (e.g. Spider-Man).",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return characters with names that begin with the specified string (e.g. Sp).",
            "in": "query",
            "name": "nameStartsWith",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only characters which have been modified since the specified date.",
            "format": "date",
            "in": "query",
            "name": "modifiedSince",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only characters which appear in the specified comics (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "comics",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only characters which appear the specified series (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "series",
            "required": false,
            "type": "array"
          },
          {
            "description": "Return only characters which appear the specified stories (accepts a comma-separated list of ids).",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "stories",
            "required": false,
            "type": "array"
          },
          {
            "description": "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "orderBy",
            "required": false,
            "type": "array"
          },
          {
            "description": "Limit the result set to the specified number of resources.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Skip the specified number of resources in the result set.",
            "format": "int32",
            "in": "query",
            "name": "offset",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CharacterDataWrapper"
            }
          }
        },
        "description": "Fetches lists of characters which appear in a specific event, with optional filters. See notes on individual parameters below.",
        "operationId": "getEventCharacterCollection",
        "summary": "Fetches lists of characters filtered by an event id."
      }
    },
    "/v1/public/events/{eventId}/comics": {
      "get": {
        "parameters": [
          {
            "description": "[Auth] timestamp",
            "in": "query",
            "name": "ts",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] public apikey",
            "in": "query",
            "name": "apikey",
            "required": true,
            "type": "string"
          },
          {
            "description": "[Auth] md5 digest of concatenation of ts, private key, public key",
            "in": "query",
            "name": "hash",
            "required": true,
            "type": "string"
          },
          {
            "description": "The event id.",
            "format": "int32",
            "in": "path",
            "name": "eventId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Filter by the issue format (e.g. comic, digital comic, hardcover).",
            "in": "query",
            "name": "format",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter by the issue format type (comic or collection).",
            "in": "query",
            "name": "formatType",
            "required": false,
            "type": "string"
          },
          {
[...]
